.gitignore
thesis.aux
thesis.bbl
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.log
thesis.maf
thesis.mtc
thesis.mtc0
thesis.mtc1
thesis.mtc2
thesis.mtc3
thesis.mtc4
thesis.mtc5
thesis.mtc6
thesis.mtc7
thesis.mtc8
thesis.out
thesis.pdf
thesis.toc
